<%- include('./includes/header.ejs') %>
</head>
<body>
    <%- include('./includes/nav.ejs') %>
    <main>
        <H1>Home Page</H1>
        <a href="/new-note">New Note</a>
    </main>
<%- include('./includes/footer.ejs') %>